.search-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 40%;
}

.search {
    display: block;
    -webkit-appearance: none;
    border: 0.1rem solid #c4c4c4;
    outline: none;
    padding: 0.3rem;


    background-color: #fffefb;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
