.pokemon-logo {
    width: 50%;
    height: 10%;
}

.header-wrapper {
    margin-bottom: 3rem;

    height: 20vh;

    background-color: #dcd7c9;

    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.header-heading {
    font-size: 3rem;
    text-shadow: 0 1px 8px rgba(122, 119, 122, 0.79);
}
.logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.MuiContainer-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem;

}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option {
    text-decoration: none;
    padding: 1rem 1.5rem;
}

/* unvisited link */
.option:link {
    color: #0a0a0a;
}

/* visited link */
.option:visited {
    color: #1f1f1e;
}

/* mouse over link */
.option:hover {
    color: #5f4025;
}

/* selected link */
.option:active {
    color: #959587;
}