ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

ul > li {
    opacity: 0.8;
    cursor: pointer;
}

ul > li:hover {
    transform: scale(1.05);
    transition: 0.4s all ease-out;
    opacity: 1;
}

.footer-wrapper {
    margin-top: 3rem;

    background-color: #dcd7c9;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
}
